 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
 </head>
 <body>
    <form action="{% url 'UserLogin' %}" method="POST">
        {% comment %} csrf protection {% endcomment %}
        {% csrf_token %} 

        {% comment %} rendering the form in template {% endcomment %}
        {{form.as_p}}

        {% comment %} Adding the submit button {% endcomment %}
        <button type="Submit">Submit</button>
 
    </form>
 </body>
 </html>